.form-container {
  padding: 15px 10px;
}

form {
  padding: 10px 0;
}

.form-field {
  position: relative;
}

.form-label {
  display: block;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}

input {
  padding: 5px 0;
  font-size: 12px;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.3);

  &:focus {
    border-bottom: solid 2px #3379d6;
    outline: 0;
  }
}

.input-token {
  width: 300px;
}

.input-starttime,
.input-endtime {
  width: 80px;
  text-align: center;

  &::-webkit-clear-button {
    display: none;
  }
}
