@charset "UTF-8";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; }

header {
  padding: 18px;
  color: #fff;
  background: #1060da; }
  header h1 {
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.5px; }

form {
  padding: 10px 0; }

input, textarea, label {
  color: #333; }

input {
  padding: 5px 0;
  font-size: 12px;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.3); }
  input:focus {
    border-bottom: solid 2px #3379d6;
    outline: 0; }

.form-container {
  padding: 8px 18px; }

.form-field {
  position: relative; }

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777; }
  .form-label.extend-margin {
    margin-bottom: 10px; }

.token-form .input-token {
  width: 330px; }

.range-form .input-starttime,
.range-form .input-endtime {
  width: 80px;
  text-align: center; }
  .range-form .input-starttime::-webkit-clear-button,
  .range-form .input-endtime::-webkit-clear-button {
    display: none; }

.emoji-form .input-emoji {
  width: 50px;
  text-align: center; }

.url-form .textarea-urls {
  width: 330px;
  height: 200px;
  font-size: 12px;
  resize: vertical;
  border: solid 2px rgba(0, 0, 0, 0.3); }
  .url-form .textarea-urls:focus {
    border: solid 2px #3379d6;
    outline: 0; }

